
body{                   /*changes background color of pages .*/
background-size: auto;
background-color: skyblue;

}


header {
  text-align: center;   /*HEADER SECTION start*/
}

header .simp{
  font-family: Bradley Hand ITC, Freestyle Script, sans-serif;  /*Changed font on header*/
  font-size: 4em;  /*change font (text size)*/
  font-weight: 700;   /*Changed boldness of header text*/
  color: yellow;   /*changed text color to yellow*/
  text-shadow: -1px -1px 0  #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;   /*added black text outline to header */
}


.link {
  text-align: center;   /*changed placement of text to centre*/
  color: black;   /*changed text color to black  */
  background-color: yellow;  /*changed background color of links to yellow */
  font-size: 2em;   /*increased font size by 2x  */
  font-weight: 700;  /* increased boldness of text */
  border: 5px black solid;   /* added black border to link area */
  border-radius: 1px;
}


.externallink {
  background-color: rgba(250, 248, 14, 0.9); color: black;  /*changed background color of external link to rgba(250, 248, 14, 0.9) and text color to black  */
  border: 10px;
  box-shadow: 3px 10px;
  text-align: center;
  font-size: 1.2em;
  font-family: Arial Black, Calibri, sans-serif;
}

a{
  color: blue 
}   /*changed link colours to blue*/

a:hover{
  color: purple 
}     /*colour of links when hovered on change to purple */


.info{
  background-color: rgba(250, 248, 14, 0.9); color: black;   /* changed background colour to yellow */
  border: 10px;   /* added border to the .info area of 10 pixels wide */
  box-shadow: 3px 10px;  /* added bax shadow 3 pixels horizontally and 10 pixels vertically */
}

.synopsis{
  font-size: 1.3em;
  font-family: Arial Rounded MT Bold, Calibri (Body), sans-serif;
}

li{
  font-size: 1.3em;
  font-family: Arial, Calibri, sans-serif;
}




.img1 {
  width: 200px;
  height: 300px;
  float: left;
  margin-right: 10px;
  margin-left:50px;      
}

.img2 {
  width: 200px;
  height: 300px;
  float: right;
  margin-left: 10px;
  margin-right: 50px;
}

.img3 {
  width: 200px;
  height: 300px;
  float: left;
  margin-right: 10px;
  margin-left:50px;
  margin-bottom: 100px; 
}



.pright {     
  text-align: left;
  margin-right: 50px;
  font-size: 1.25em;
  font-family: Arial Rounded MT Bold, Calibri, sans-serif;
}

.pleft {
  margin-left: 50px;
  font-size: 1.25em;
  font-family: Arial Rounded MT Bold, Calibri, sans-serif;
}

.Member1 {
  margin-left: 50px;
  font-size: 2em;
  font-family: Lucida Sans, Arial, sans-serif;
}

.cast1{
  background-color: rgba(214, 210, 100, 0.8)
}

.Member2 {
  text-align: right;
  margin-right: 50px;
  padding-right: 10px;
  font-size: 2em;
  font-family: Lucida Sans, Arial, sans-serif;
}

.cast2{
  background-color: rgba(214, 210, 100, 0.8)
}

.Member3 {
  margin-left: 50px;
  font-size: 2em;
  font-family: Lucida Sans, Arial, sans-serif;
}

.cast3{
  background-color: rgba(214, 210, 100, 0.8)
}

.aud1 {         
  float: left
}

.aud2 {
  margin-left: 50px;
}

.video {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

footer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
}
