
body{                   /*this changes background color of all pages (home and cast pages).*/
background-size: auto;
background-color: skyblue;

}


header {
  text-align: center;   /*HEADER SECTION start, aligned header text to the centre*/
}

header .simp{
  font-family: Bradley Hand ITC, Freestyle Script, sans-serif;  /*Changed font on header*/
  font-size: 4em;  /*change font (text size)*/
  font-weight: 700;   /*Changed boldness of header text*/
  color: yellow;   /*changed text color to yellow*/
  text-shadow: -1px -1px 0  #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;   /*added black text outline to header */
}


.link {
  text-align: center;   /*changed placement of text to centre*/
  color: black;   /*changed text color to black  */
  background-color: yellow;  /*changed background color of links to yellow */
  font-size: 2em;   /*increased font size by 2x  */
  font-weight: 700;  /* increased boldness of text */
  border: 5px black solid;   /* added black border to link area */
  border-radius: 1px;
}


.externallink {
  background-color: rgba(250, 248, 14, 0.9); color: black;  /*changed background color of external link to rgba(250, 248, 14, 0.9) and text color to black  */
  border: 10px; /*added a black border 10 px*/
  box-shadow: 3px 10px; /*this adds a black drop shadow like feature 3 pixels across 10 pixels down*/
  text-align: center; /*this aligns text to the centre*/
  font-size: 1.2em; /*increased text font by 0.2*/
  font-family: Arial Black, Calibri, sans-serif; /*changed text font to Arial Black first if that is not supported switches to Calibri and then sans-serif*/
}

a{
  color: blue 
}   /*changed link colours to blue*/

a:hover{
  color: purple 
}     /*colour of links when hovered on change to purple */


.info{
  background-color: rgba(250, 248, 14, 0.9); color: black;   /* changed background colour to yellow */
  border: 10px;   /* added border to the .info area of 10 pixels wide */
  box-shadow: 3px 10px;  /* added bax shadow 3 pixels horizontally and 10 pixels vertically */
}

.synopsis{ /*this code allows the following style changes to only effect those elements within the synopsis class*/
  font-size: 1.3em; /*this increases font size by 0.3 of the original text size */
  font-family: Arial Rounded MT Bold, Calibri (Body), sans-serif; /*this changes the font of the text */
}

li{
  font-size: 1.3em; /*this increases font size by 0.3 of the original text size*/
  font-family: Arial, Calibri, sans-serif;
}




.img1 {
  width: 200px; /*this maxes out images size to the width of 200 pixels*/
  height: 300px;/*this maxes out the imges size to the height of 300 pixels*/
  float: left; /*this makes the image move or stay to the left side of the screen*/
  margin-right: 10px; /*this adds a buffer between any text or other elements by 10 pixels to the right*/
  margin-left:50px; /*this adds a buffer betweel any text or other elements by 50 pixels to the left*/  
}

.img2 {
  width: 200px; /*this maxes out images size to the width of 200 pixels*/
  height: 300px;  /*this maxes out the imges size to the height of 300 pixels*/
  float: right; /*this makes the image move or stay to the right side of the screen*/
  margin-left: 10px;  /*this adds a buffer between any text or other elements by 10 pixels to the left*/
  margin-right: 50px; /*this adds a buffer betweel any text or other elements by 50 pixels to the right*/ 
}

.img3 {
  width: 200px; /*this maxes out images size to the width of 200 pixels*/
  height: 300px;  /*this maxes out the imges size to the height of 300 pixels*/
  float: left;  /*this makes the image move or stay to the left side of the screen*/
  margin-right: 10px; /*this adds a buffer between any text or other elements by 10 pixels to the right*/
  margin-left:50px; /*this adds a buffer betweel any text or other elements by 50 pixels to the left*/  
  margin-bottom: 100px; /*this adds a buffer betweel any text or other elements by 100 pixels from the bottom (underneath this element*/  
}



.pright {     
  text-align: left; /*this aligns any text to the right*/
  margin-right: 50px; /*this adds a buffer of 50 pixels to any elemnts to the right*/
  font-size: 1.25em; /*increases text size*/
  font-family: Arial Rounded MT Bold, Calibri, sans-serif;
}

.pleft {
  margin-left: 50px; /*this adds a buffer of 50 pixels to any elements to the left*/
  font-size: 1.25em; /*increases font size*/
  font-family: Arial Rounded MT Bold, Calibri, sans-serif;
}

.Member1 {
  margin-left: 50px;  /*this adds a buffer of 50 pixels to any elements to the left*/
  font-size: 2em;
  font-family: Lucida Sans, Arial, sans-serif;
}

.cast1{
  background-color: rgba(214, 210, 100, 0.8) /*this changed the background color of the class section cast 1 to yellow*/
}

.Member2 {
  text-align: right;  
  margin-right: 50px;
  padding-right: 10px;
  font-size: 2em;
  font-family: Lucida Sans, Arial, sans-serif;
}

.cast2{
  background-color: rgba(214, 210, 100, 0.8)  /*this changed the background color of the class section cast 2 to yellow*/
}

.Member3 {
  margin-left: 50px;
  font-size: 2em;
  font-family: Lucida Sans, Arial, sans-serif;
}

.cast3{
  background-color: rgba(214, 210, 100, 0.8)  /*this changed the background color of the class section cast 3 to yellow*/
}

.aud1 {         
  float: left
}

.aud2 {
  margin-left: 50px;
}

.video {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

footer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
}
